<!DOCTYPE html>
<html>
  <head>
    <title>{{cookiecutter.camel_case_name}}</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= content_for(:head) %>
  </head>

  <body>
    <%= render :partial => 'shared/header_navbar' %>
    <%= yield %>
  </body>

  <%= render partial: 'partials/hist/modal.html.erb' %>
  <div class="modal fade" id="popup-page-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true" data-keyboard="false">Loading...</div>
</html>
